.review-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  
  .review-card {
    width: 700px;
    display: flex;
    gap: 20px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    background: white;
  }
  
  .review-card img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .review-info h2 {
    margin-bottom: 10px;
  }
  
  .price-breakdown {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .review-info button {
    padding: 12px 20px;
    border: none;
    background: #ff385c;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .review-info button:hover {
    background: #e11d48;
  }
  